@import "@css/pub.scss";
$border1:#ccc solid 1px;
$border2:1px rgb(255, 94, 1) solid;
$border3:10px rgb(255, 94, 1) solid;
.timeTools{
    padding:10px 100px;
    p{ display: inline-block;
        .label{ 
                margin-left:100px;
                
             }
    }
}
.timeLine{ 
    @include relative();
    padding:10px;;overflow:auto;
    .timeLineBox{
        @include absolute();
        border-right:rgba(143, 105, 105, 0.87) solid 1px;
        li{ 
            @include absolute();
            text-align: right;width:100%;
            padding-right:10px;
            font-size:14px;
            &::before{ display: block;position: absolute;top:10px;right:-2.5px; border-radius:50%;width:5px;height:5px;background:rgb(255, 94, 1);
                content:"";
            }
        }
    }
    .timeLineBlock{
        @include absolute(100px);
        li{ 
            height:100%;background:rgba(236, 209, 201, 0.507);
            h6{font-size:14px;font-weight: normal;height:20px;position: absolute;top:0;width:100%;opacity:1;
                color:#fff;
                border:$border1;
                border-left:none;background:rgba(202, 161, 149, 0.555);z-index:200;
               // transition:opacity 1s ease;
            }
            @include absolute();
            cursor:pointer;
            
            text-align: center;
           
            &:first-child h6{
                border-left:$border1;
            }
            div.content{ @include relative();
                top:20px;
                z-index:100;
                span{ 
                    @include absolute();
                   // background:rgb(255, 94, 1);display:block;
                  // border-top:$border2;border-bottom:$border2;
                    width:10px;
                    /* &::before{ @extend .pesudo; 
                      border-left:$border3;
                      height:100%;
                      display: inline-block;text-align: center
                    } */
                    i{
                        position: absolute;top:0px;left:0;font-style: none;font-size:12px;
                    }
                    
                }
                
            }
            &:nth-child(even){
                
                background:#f7f0f0;
             
            }
            .line{ position: absolute;width:100%;height:0;border-top:#ccc dotted 1px}
           
        }
        &.hideBox{
            h6{ opacity:0;}
        }
    }
   
}
