.dialog{
    position: fixed;top:-100%;left:50%;transform:translateX(-50%);display: none;
    transition:top 1s ease;;background: rgba(255,255,255,0.7);box-shadow:rgba(100,100,100,0.5) 0 0 10px;
    &.show{ top:40%; display: block;transition:top 1s ease;}
    h4{ min-height:40px;background:rgb(53, 182, 247);color:#fff;font-size:16px;line-height:40px;
        position: relative;top:0;left:0;padding:0 10px;
        span{ position: absolute;top:0px;right:0px;font-size:20px;cursor: pointer; width:50px;height:100%;;text-align: center;
            &:hover{ background: rgb(120, 201, 241)}
        }
      }
    section{
        padding:20px;
    }
}